{% extends "layout.html" %}

{% block content %}
<div class="container mt-5">
    <h1 class="mb-4">¿Qué es Internet de las Cosas (IoT)?</h1>
    <p>
        El Internet de las Cosas, o IoT por sus siglas en inglés, se refiere a la interconexión digital de objetos cotidianos con internet. 
        Esto incluye desde dispositivos electrónicos, vehículos, electrodomésticos, sensores y muchos otros objetos que, al conectarse, 
        pueden comunicarse entre sí y con los usuarios.
    </p>
    
    <h2 class="mt-4">Principales Características</h2>
    <ul>
        <li><strong>Conectividad:</strong> Los dispositivos IoT están conectados a internet, lo que les permite enviar y recibir datos.</li>
        <li><strong>Interacción:</strong> Estos dispositivos pueden interactuar entre sí y con los usuarios, automatizando tareas y ofreciendo 
        información en tiempo real.</li>
        <li><strong>Monitorización:</strong> Gracias a los sensores, los dispositivos IoT pueden recopilar datos sobre su entorno y 
        reportar estos datos para su análisis.</li>
    </ul>
    
    <h2 class="mt-4">Aplicaciones del IoT</h2>
    <p>
        El IoT tiene una amplia gama de aplicaciones que impactan diversas áreas de la vida cotidiana y la industria. Algunas de las 
        aplicaciones más comunes incluyen:
    </p>
    <ul>
        <li><strong>Hogares inteligentes:</strong> Control de luces, temperatura, sistemas de seguridad y electrodomésticos desde 
        dispositivos móviles.</li>
        <li><strong>Salud:</strong> Dispositivos que monitorizan el estado de salud de los pacientes en tiempo real.</li>
        <li><strong>Industria:</strong> Automatización y monitorización de procesos industriales para mejorar la eficiencia y la 
        productividad.</li>
        <li><strong>Ciudades inteligentes:</strong> Gestión de tráfico, alumbrado público, y sistemas de recolección de residuos, 
        optimizando los recursos y mejorando la calidad de vida.</li>
    </ul>
    
    <h2 class="mt-4">El Futuro del IoT</h2>
    <p>
        A medida que la tecnología avanza, el Internet de las Cosas seguirá creciendo y transformando la forma en que interactuamos 
        con el mundo. Desde mejoras en la eficiencia energética hasta el desarrollo de nuevas experiencias para los usuarios, 
        el potencial del IoT es prácticamente ilimitado.
    </p>
</div>
{% endblock %}
